<title><%= t "shared.unofficial_trakehner_database" %></title>

<%= render 'shared/website_title' %>


<h3><center>**June 2021**</center></h3>

The Unofficial Trakehner Database site has been down for a while now.  I would like
to extend my apologies to those who use the site.  Technology continues to grow and
change, which in this case, took down the UTDB site when the hosting platform
advanced beyond the capabilities of the technologies used in the original creation
of the site.  The good news is that I am actively working again to bring back this
marvelous tool for all those who love and admire the Trakehner horse.  Please be
patient with me and know that I am committed to this project.  -Susan Prestage
